body {
    background-color: rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
    color: white;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: solid black 1px;
    transition: color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    border-bottom:1px solid white;
  }
  nav ul li:hover {
    color: rgb(34, 153, 84); 
    text-decoration: underline;
    text-underline-offset: 5px;
    transform: scale(1.05);
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    list-style: none;
    margin: 0 15px;
  }
  .left {
    font-family: "Staatliches", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 0 20px;
    letter-spacing: -1.68px;
    
  }
  ul {
    font-family: "Red Hat Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
  }
  .title {
    font-family: "Red Hat Display", serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 3rem;
  }
  #home {
    padding: 96px 48px;
  }
  #bimg {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: black solid 1px;
    transition: transform 0.3s ease-in-out;
  }
  #bimg:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  .container {
    width: 100%;
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: Fill (1,344px)px;
    height: Hug (1,333px)px;
    opacity: 0px;
    gap: 50px;
  
  
    
  }
  .child {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    transition: transform 0.3s ease;
  }
  .child:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.15);
  }
  
  .cnt1 img{
    border: 1px black solid;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0;
  }
  
  .cnt1 {
    display: grid;
    width: Fill (416px)px;
    height: Hug (1,237px)px;
    gap: 48px;
    opacity: 0px;
  }
  .left{
    width: 50%;
  
  }
  
  
  .des:hover {
    transform: scale(1.2);
  }
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 10px;
    }
    ul{
      font-weight: 400;
      font-size: 1rem;
      padding-left: 0;
      margin-left: 0%;
    }
    .container{
      grid-template-columns: repeat(2,1fr);
    }
    .title{
      font-weight: 500;
      font-size: 50px;
      text-align: center;
      line-height: 100%;
      padding-top: 0%;
    }
    .des{
      font-size: 20px;
      padding: 10px 10px;
      line-height: 100%;
    }
    
  
  }
  @media (max-width: 768px){
    .cnt1{
      display: contents;
      padding:10px;
      margin: 10px;
      gap: 10px;
  
    }
    .container {
      gap: 10px;
      padding-top: 70px;
      
    }
  
  }
  .imgtitle{
    font-family: "Inria Sans", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 3%;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out;
  }
  .imgtitle:hover {
    color: rgb(34, 153, 84);
    cursor: pointer;
  }
  .imgtyp{
    font-family: "Inria Sans", serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgb(125, 125, 125);
    padding: 1% 0;
  }
  @media (max-width:768px){
    .imgtitle{
      font-size: 13px;
      font-weight: 300;
    }
    .imgtyp{
      font-size: 10px;
      font-weight: 200;
      padding-top: 0%;
    }
  }
  .right{
    padding-left: 50%;
    padding-top: 10rem;
    font-size: 1.7rem;
  }
  .container2{
   border:2px solid #111;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgb(42, 18, 18)) ;
    /* this is chat-gpt generated */
    display: flex; 
    flex-direction: column;
    padding:40px 0;
    height: 400px;
    width: auto;
    justify-content: center;
    align-items: left;
  }
  .sunset{
    justify-content: end;
    text-align: left;
    padding-left: 5%;
    color: white;
    font-family: "Red Hat Display", serif;
  }
  .sunsetp{
    font-size: 1.2rem;
    padding-left: 5%;
    width: 50%;
  
  }
  
  .enddes{
    font-size: 1.5rem;
    padding:150px 20%;
    text-align: center;
    font-family: "Red Hat Display", serif;
    /* font-weight: 10; */
  }
  
  .offers{
      background-color: #020D02;
      height: 280px;
      width: 1444px;
      margin-left: 25px;
      display: flex;
      justify-content: left;
      background-color: black;
      font-family: "Red Hat Display", serif;
  }
  .offers div {
      height: 168px;
      width: 644px;
      margin-left: 40px;
  }
  .offers h4{
      font-size: 28px;
      font-weight: 50;
      font-size: 30px;
     
  }
  .offers #skills{
      height: 168px;
      width: 644px;
      display: flex;
      justify-content: space-around;
      font-weight: 50;
      font-size: 30px;
  }
  .offers ul{
      list-style-type: none;
  }
  .offers li{
      font-size: 20px; 
      padding: 12px; 
  }
  
  
  
  #testimonials > p{
      margin-bottom: 48px;
      font-family: Hepta Slab;
      font-size: 48px;
      font-weight: 500;
      line-height: 52px;
      text-align: center;
      font-family: "Red Hat Display", serif;
  }
  
  .reviews{
      overflow: scroll;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5,288px);
      column-gap: 24px;
      
  }
  
  .review{
      height: fit-content;
      padding: 24px;
      border-radius: 16px;
      border: 1.5px solid white;
      
  }
  
  .review-header{
      margin-bottom: 16px;
      display: flex;
      
  }
  
  .client-img{
      margin: auto 12px auto 0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
  }
  
  .client-details{
      margin: auto 0;
  }
  
  .client-name{
    font-family: "Red Hat Display", serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      color: rgba(230, 216, 214, 1);
  }
  
  .client-designation{
      
     font-family: "Inria Sans", serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      
  }
  
  .review-content{
      margin-left: 24px;
      padding-left: 36px;
      
      font-family: "Inria Sans", serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: rgba(230, 216, 214, 1);
  }
  
  .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1.5px solid black;
      padding: 96px 0;
      gap: 48px;
  }
  
      .footer-title > h1{
          font-weight: 400;
          font-size: 34px;
          line-height: 40px;
          text-align: center;
          font-family: "Red Hat Display", serif;
  
      }
  
      .subscription {
          display: flex;
          gap: 12px;
      }
  
          #email-input {
              border-radius: 8px;
              padding: 8px 16px;
              gap: 8px;
              border: 2px solid gray;
              width: 454px;
              height: 48px;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
              color: rgba(235, 209, 235, 0.4);
              color: gray;
              background-color: transparent;
          }
  
          #subscribe {
              border-radius: 8px;
              padding: 12px 24px;
              background-color: rgba(193, 29, 29, 1);
              border: 0;
              
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              color: rgba(255, 254, 255, 1);
          }
  
          #subscribe:hover {
              cursor: pointer;
          }
  
      .social{
          display: flex;
          gap: 32px;
      }
  
          .logo{
              height: 58px;
              width: 208px;
          }
  
          .logo:hover {
              cursor: pointer;
              /* height: 58px; */
              /* width: 58px; */
              /* transition: 0.3s ease;
              transform: scale(1.3); */
          } 
